.container {
    max-width: 800px;
    margin: auto;
    position: relative; /* Ensure the container is the positioning context */
}

.buttons-container {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
}

.table {
    margin-bottom: 40px;
}

.card {
    margin-top: 20px;
}

#code-editor {
    font-family: monospace;
    font-size: 1rem;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

p {
    white-space: pre-wrap;
    word-wrap: break-word;
}
