<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/73608150-6eb1-45c7-878e-d6a3f3fef02a/resourcegroups/omiiasi/providers/Microsoft.ContainerRegistry/registries/omiiasievaluator</ResourceId>
    <ResourceName>omiiasievaluator</ResourceName>
    <ResourceGroup>omiiasi</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>omiiasievaluator.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>93ca732a-2573-4ca2-adf0-0c83602bef26</ProjectGuid>
    <_IsDockerfilePresent>true</_IsDockerfilePresent>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>