<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/73608150-6eb1-45c7-878e-d6a3f3fef02a/resourceGroups/omiiasi/providers/Microsoft.ApiManagement/service/omiiasi-evaluator/apis/omiiasi-evaluator</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/73608150-6eb1-45c7-878e-d6a3f3fef02a/resourcegroups/omiiasi/providers/Microsoft.Web/sites/omiiiasi-evaluator</ResourceId>
    <ResourceGroup>omiiasi</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://omiiiasi-evaluator.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>93ca732a-2573-4ca2-adf0-0c83602bef26</ProjectGuid>
    <PublishUrl>https://omiiiasi-evaluator.scm.azurewebsites.net/</PublishUrl>
    <UserName>$omiiiasi-evaluator</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>