<div class="card" *ngIf="problem">
    <div class="card-body">
        <h5 class="card-title">{{ problem.title }}</h5>
        <p class="card-text">{{ problem.description }}</p>
        <p class="card-text">Author: {{ problem.author }}</p>
        <p class="card-text">Grade: {{ problem.grade }}</p>
    </div>
    <div class="card-footer text-muted d-flex justify-content-between">
        <button *ngIf="isAdmin" class="btn btn-secondary" (click)="edit()">Edit</button>
        <button class="btn btn-primary" (click)="solve()">Solve</button>
    </div>
</div>
